.myDiv{
            border: 3px solid rgb(9, 70, 111);
            margin: 10px;
            padding: 15px;
            height: 20px;
            background-color: rgb(202, 234, 245);
            display: flex;
            justify-content: center;
            align-items: center;
        }

.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width:700%;
    overflow: hidden;
    display: flex;
}
.carousel::-webkit-scrollbar{
    display:none;
}
.group {
    display: flex;
    flex: 0 0 100%;
    padding-right:20px;
    will-change: transform;
    animation: scrolling 7s linear infinite;
}
.card {
    width: 100%;
    padding: 20px;
    font-size: 30px;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}
@keyframes scrolling{
    0%{
       transform: translateX(0);
    }
    100%{
         transform: translateX(-100%);
    }
}